
$displaySize: 900px;
$ringSize: 700px;


body {
  margin:0;
  background: #191919;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 25px;
}

#display {
  width: $displaySize;
  height: $displaySize;
  background: rgba(255, 255, 255, 0.06);
}

#user {
  width: 150px;
  height:150px;
  background: url("user.svg") no-repeat center center;
  background-size: contain;

}

#ring {
  width: $ringSize;
  height: $ringSize;
  border: rgba(255, 255, 255, 0.34) solid 2px;
  border-radius: 50%;
}

.soundarm {
  position: absolute;
  transition: transform 0.8s;
  width: #{$ringSize / 2};
  transform: translateX(50%) translateY($ringSize / 2) rotate(-45deg) translateX(50%);
  height: 0;
}

.soundinfooffset {
  position:absolute;
  right:0;
  transform: translateX(50%) translateY(-50%);
}

.soundinfo {
  //transform: rotate(0deg);
  transition: transform 0.8s;
  width: 200px;
  text-align: center;
}

.soundpercent {
  display:none;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}



