
$displaySize: 900px;
$ringSize: 700px;


body {
  margin:0;
  background: #191919;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 50px;
}

#display {
  width: $displaySize;
  height: $displaySize;
  //background: rgba(255, 255, 255, 0.06);
}

#user {
  width: 150px;
  height:150px;
  background: url("user.svg") no-repeat center center;
  background-size: contain;

}

#ring {
  width: $ringSize;
  height: $ringSize;
  border: rgba(255, 255, 255, 0.34) solid 2px;
  border-radius: 50%;
}

.soundarm {
  position: absolute;
  transition: transform 0.8s;
  width: #{$ringSize / 2};
  transform: translateX(50%) translateY($ringSize / 2) rotate(0deg) translateX(50%);
  height: 0;
  z-index: 1;

  &.warning {
    z-index: 5;
    .soundinfooffset .soundinfo {
      color:red;
      font-weight: bold;
      filter: drop-shadow(0px 0px 10px rgb(255, 0, 0));
    }
  }
}

.soundinfooffset {
  position:absolute;
  right:0;
  transform: translateX(50%) translateY(-50%);
}

.soundinfo {
  //transform: rotate(0deg);
  transition: transform 0.8s, opacity 0.8s;
  width: 200px;
  text-align: center;
  opacity: 1;

  &.hidden {
    transition: transform 0.8s, opacity 2s;
    opacity: 0;
  }
}

.soundpercent {
  //display:none;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}



