html
    head
        title= title
        script(src='socket.io.js')
        script(src='webview.js')

        link(href='style.css' rel='stylesheet')
    body
        #display.center
            #user.center
